@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('font/MyriadPro-Cond/MyriadPro-Cond.eot');
  src: url('font/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),  
       url('font/MyriadPro-Cond/MyriadPro-Cond.otf')  format('opentype'),
	   url('font/MyriadPro-Cond/MyriadPro-Cond.woff') format('woff'), 
	   url('font/MyriadPro-Cond/MyriadPro-Cond.ttf')  format('truetype'), 
	   url('font/MyriadPro-Cond/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('font/MyriadPro-Bold/MyriadPro-Bold.eot');
  src: url('font/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  
       url('font/MyriadPro-Bold/MyriadPro-Bold.otf')  format('opentype'),
	   url('font/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'), 
	   url('font/MyriadPro-Bold/MyriadPro-Bold.ttf')  format('truetype'), 
	   url('font/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg'); 
  font-weight: normal;
  font-style: normal;
}
*,*:before,*:after{
	box-sizing:border-box;
	padding:0;
	margin:0;
}
.clearfix:after{content:"";height:0;display:block;visibility:hidden; clear:both;}
.clearfix{*zoom:1;}
html{
	min-width:1200px;
}
body{
	min-width:1200px;
	font-family: "MyriadPro-Cond";
	overflow:auto;
	height:100%;
}
.header{
	height:135px;
	width:100%;
}
.head-top{
	width:1180px;
	margin:0 auto;
	position:relative;
}
.logo{
	background:url('../images/logo.png') no-repeat center;
	width:129px;
	height:95px;
}
.follow{
	position:absolute;
	right:0;
	top:0;
	width:106px;
	padding-top:25px;
	color:#b1b1b1;
}
.follow span{
	font-size:18px;
}
.follow i{
	display:inline-block;
	width:32px;
	height:32px;
	top:51px;
	position:absolute;
	cursor:pointer;
	background:url(../images/common.png) no-repeat; 
}
.follow .facebook{
	background-position: 0 0;
	left:0;
}
.follow .facebook:hover{
	background-position: 0 -167px;;
}
.follow .youtube{
	left:37px;
	background-position: -37px 0;
}
.follow .youtube:hover{
	background-position: -37px -167px;
}
.follow .ins{
	left:73px;
	background-position: -73px 0;
}
.follow .ins:hover{
	background-position: -73px -167px;
}
.head-menu{
	background-color:#c8161e;
	width:100%;
	height:40px;
}
.head-menu ul{
	width:1180px;
	margin:0 auto;
	height:100%;
	list-style:none;
}
.head-menu li{
	height:100%;
	float:left;
	padding:9px 26px;
	text-align:center;
	font-size:18px;
	color:#fff;
	position:relative;
}
.head-menu li:hover .l-m{
	display:block;
}
.head-menu li .l-m{
	position:absolute;
	display:none;
	top:40px;
	left:0;
	width:172px;
	background-color:#c8161e;
}
.head-menu li .l-m a{
	display:inline-block;
	width:100%;
	height:32px;
	line-height:32px;
	text-align:center;
}
.head-menu li .l-m a:hover{
	background-color:#b6141b;
}
.head-menu .homepage{
	width:79px;
	padding-top:8px;
	height:100%;
	margin:0;
}
.head-menu a{
	cursor:pointer;
	color:#fff;
	text-decoration:none;
}
.head-menu a:hover{
	text-decoration:underline;
}
.head-menu .homepage a{
	display:inline-block;
	background:url(../images/common.png) no-repeat center;
	background-position:0 -38px;
	width:25px;
	height:23px;
}
.head-menu .about{
	border-left:1px solid #fff;
	margin-left:0;
	padding-left:26px;
	padding-top:0;
	height:22px;
	margin-top:9px;
}
.head-menu .date{
	float:right;
	margin-right:0;
}
.m{
	background-color:#eeeeee;
	width:100%;
}
.main{
	width:1200px;
	background-color:#f8f8f8;
	margin:0 auto;
	padding:0 10px; 
}
.banner{
	line-height:0;
}
.w300,.w60{
	border-radius:8px;
	overflow:hidden;
    box-shadow:0 20px 45px #e0e0e0;
    margin-bottom:45px;
}
.lottery{
	width:880px;
	float:left;
	margin-top:26px;
	overflow:hidden;
}
.lottery .lt{
	background:url('../images/lt.png') no-repeat;
	height:313px;
	width:580px;
	border-right:1px solid #eee;
	float:left;
}
.lottery .title{
	padding-left:28px;
	padding-top:25px;
	line-height:26px;
}
.lottery .title .t{
	color:#fbfbfb;
	font-weight:bold;
	font-size:42px;
	display:inline-block;
	width:243px;
}
.lottery .latest{
	color:#fbfbfb;
	font-size:30px;
	margin-left:6px;
}
.lottery .pick5{
	color:#ffcc00;
	font-size:24px;
	margin-left:32px;
	margin-right:25px;
}
.lottery .dateNo{
	color:#ffcc00;
	font-size:18px;
	white-space:nowrap;
}
.lottery .num{
	margin-left:34px;
	margin-top:30px;
	margin-bottom:4px;
}
.lottery .num span{
	display:inline-block;
	width:88px;
	height:90px;
	background:url('../images/common.png') no-repeat 0px -70px;
	margin-right:18px;
	color:#fff;
	font-size:65px;
	text-align:center;
	line-height:87px;
}
.lottery .info{
	border-top:1px solid #f0f0f0;
	width:530px;
	margin:0 auto;
	padding-top:10px;
}
.lottery .info span{
	display:inline-block;
	vertical-align:top;
	width:225px;
	float:left;
}

.lottery .info span:first-child{
	width:305px;
	border-right:1px solid #eeeeee;
}
.lottery .info .t{
	font-size:32px;
	color:#85754e;
}
.lottery .info .s{
	margin-left:43px;
	font-size:18px;
	color:#85754e;
}
.lottery .info .prize{
	color:#c8161e;
	font-size:36px;
	white-space:nowrap;
	font-family:"MyriadPro-Bold";
}
.lottery .info .nextdraw{
	padding-left:43px;
	font-size:32px;
	color:#85754e;
}
.lottery .info .nexttime{
	color:#85754e;
	font-size:48px;
	line-height:40px;
	font-family:"MyriadPro-Bold";
	text-align:center;
}
.lottery .info .nexttime label{
	position:relative;
	top:-3px;
}
.lottery .history{
	height:313px;
	width:300px;
	float:right;
}
.lottery .history .t{
	background-color:#ebebeb;
	height:46px;
	line-height:46px;
	padding-left:16px;
	font-size:20px;
	color:#424242;
}
.lottery .history .more{
	display:inline-block;
	cursor:pointer;
	margin-left:35px;
}
.lottery .history .more label{
	display:inline-block;
	border-bottom:1px solid #85754e;
	font-size:18px;
	color:#85754e;
	height:33px;
	cursor:pointer;
}
.lottery .history .more i{
	display:inline-block;
	height:8px;
	width:5px;
	background:url('../images/common.png') no-repeat -39px -46px;
	margin-left:10px;
}
.lottery .history .list{
	background-color:#ffffff;
	width:100%;
	list-style:none;
	border-right:1px solid #eee;
	height:268px;
	padding-top:18px;
}
.lottery .history .list li{
	height:32px;
	line-height:32px;
	padding-left:10px;
	margin-bottom:16px;
}
.lottery .history .list label{
	font-size:14px;
	color:#858585;
	font-family:'Calibri Light';
	position:relative;
	top:-3px;
}
.lottery .history .list span,.results .list span{
	background:url('../images/common.png') no-repeat -114px 0 ;
	width:33px;
	height:33px;
	display:inline-block;
	text-align:center;
	line-height:33px;
	color:#85754e;
	font-size:24px;
	margin-left:6px;
}
.main .v{
	width:280px;
	float:right;
	margin:26px 0;
}
.main .v .video{
	height:256px;
	width:100%;
	cursor:pointer;
	background:url('../images/tv.png') no-repeat;
}
.main .note{
	border:1px solid #eeeeee;
	width:280px;
	height:414px;
	background-color:#fff;
	margin-top:22px;
	padding-top:14px;
}
.main .note .t{
	color:#85754e;
	font-size:24px;
	text-align:center;
	font-weight:bold;
	margin-bottom:12px;
}
.main .note p{
	margin-bottom:10px;
}
.main .note span{
	display:inline-block;
	width:80px;
	color:#bcbcbc;
	margin-right:8px;
	text-align:right;
	font-size:18px;
	vertical-align:top;
}
.main .note input[type="text"]{
	height:25px;
	border:1px solid #eee;
	background-color:#f8f8f8;
	line-height:23px;
	font-size:10px;
	padding:0 6px;
	width:170px;
}
.main .note textarea{
	height:155px;
	border:1px solid #eee;
	background-color:#f8f8f8;
	line-height:18px;
	font-size:10px;
	padding:3px 6px;
	width:170px;
	resize:none;
}
.main .note .btnP{
	padding-right:20px;
	text-align:right;
	margin-top:-5px;
}
.main button{
	background-color:#c8161e;
	border:none;
	border-bottom:1px solid #6d0c10;
	padding:7px 13px 6px 13px;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	box-shadow:none;
}
.main button:hover{
	background-color:#ea2730;
}
.main .note .tip{
	color:#c6c6c6;
	font-size:14px;
	padding:10px 25px;
	text-align:center;
}
.morelist{
	padding-top:38px;
	padding-left:31px;
}
.results{
	width:838px;
	border:1px solid #eee;
	background-color:#fff;
	float:left;
	padding:6px 16px 20px 16px;
}
.results .t{
	height:60px;
	line-height:60px;
	border-bottom:1px solid #eee;
}
.results .t label{
	font-size:42px;
	color:#85754e;
	font-weight:bold;
}
.results .t .t1{ 
	font-size:24px;
	color:#bcbcbc;
	float:right;
	margin-top:3px;
}
.results .t .t2{ 
	font-size:18px;
	color:#bcbcbc;
}
.results .drawDate{
	height:68px;
	margin-top:11px;
	border-radius:4px;
	background-color:#eee;
	padding:17px 22px;
}
.results .drawDate label{
	color:#bcbcbc;
	font-size:30px;
	line-height:35px;
}
.results .drawDate .datepick{
	height:35px;
	line-height:35px;
	border:none;
	color:#424242;
	font-size:18px;
	margin:0 40px 0 25px;
	vertical-align:top;
	padding-left:10px;
	background:url('../images/datepicker.png') no-repeat 125px 6px;
	background-color:#fff;
	width:155px;
}
.results .drawDate .timepick{
	height:35px;
	line-height:35px;
	border:none;
	color:#424242;
	font-size:18px;
	margin:0 55px 0 25px;
	vertical-align:top;
	padding-left:8px;
	width:76px;
	background:url('../images/timepicker.png') no-repeat 60px 14px;
	background-color:#fff;
}
.results .drawDate button{
	padding: 0px 13px;
    vertical-align: top;
    font-size: 28px;
    font-family: "MyriadPro-Cond";
    height: 35px;
}
.results .list{
	margin-top:17px;
	border-radius:4px;
	background-color:#eee;
	padding:22px;
}
.results .list ul{
	list-style:none;
	background-color:#fff;
}
.results .list ul li{
	height:50px;
	border-top:1px solid #eee;
	line-height:50px;
}
.results .list ul li:first-child{
	border-top:none;
}
.results .list label{
	color:#bcbcbc;
	font-size:18px;
	padding:0 60px;
}
.results .list .num{
	padding:0 36px;
	font-size:24px;
}


.morelist .v{
	margin-top:0;
}

.main.explanation{
	padding:32px 38px;	
}
.explanation .area{
	background-color:#fff;
	border:1px solid #eee;
	padding:16px;
}
.explanation .nav{
	color:#84888b;
	font-size:18px;
	line-height:44px;
	border-bottom:1px solid #eee;
}
.explanation .nav a{
	color:#84888b;
	cursor:pointer;
}
.explanation .nav a:hover{
	text-decoration:underline;
}
.explanation .w{
	padding:15px;
}
.explanation h4{
	color:#bcbcbc;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
}
.explanation h1{
	color:#858585;
	font-weight:bold;
	font-size:18px;
	margin:20px 0;
}
.footer{
	width:100%;
}
.footer .information{
	width:1180px;
	margin:0 auto;
	height:80px;
	line-height:80px;
}
.footer .information span{
	color:#dadada;
	font-size:36px;
	margin-right:20px;
}
.footer .information a{
	color:#858585;
	font-size:18px;
	margin:0 18px;
	letter-spacing:1px;
	cursor:pointer;
	text-decoration:none;
}
.footer .information a:hover{
	text-decoration:underline;
}
.footer .right{
	background-color:#e1e1e1;
	height:90px;
	line-height:90px;
	text-align:center;
	width:100%;
	font-size:28px;
	color:#bcbcbc;
}
.xdsoft_datetimepicker .xdsoft_month{
	width:70px;	
}