*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family:"Microsoft Yahei", Arial, Helvetica, sans-serif;
	font-size:16px;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow:hidden;
	width:100%;
	height:100%;
}
img { -webkit-touch-callout: none; }
.clearfix:after{content:"";display:block;height:0;visibility:hidden; clear:both;}
.clearfix{*zoom:1;}
em,i{
	font-style:normal;
}
header{
	width:100%;
	background-color:#7a57de;
	/*background: linear-gradient(to bottom, #7051b3, #3642a2);*/
	position: absolute;
	z-index: 2000;
	height:50px;
	top: 0;
	left: 0;
}
.wrapper{
	position: absolute;
	z-index: 1;
	top: 50px;
	bottom: 55px;
	left: 0;
	right:0;
	width: 100%;
	overflow: hidden;
}
.scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
footer{
	height:55px;
	background-color:#57399d;
	display:table;
	width:100%;
	position: absolute;
	z-index: 2000;
	bottom: 0;
	left: 0;
}
.page{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:100;
	background-color:#fff;
	transition: transform 400ms;
}
.page.pageNext{
	transform: translate3d(100%,0,0);
	z-index:200;
	display:none;
}
/*
.page.pageIn{

}*/
.pageback{
	height:50px;
	width:50px;
	background:url("../img/pageback.png") no-repeat center;	
	background-size: auto 22px;
	position:absolute;
	left:0;
	top:0;
}
header .title{
	line-height:50px;
	margin: 0 auto;
	text-align:center;
	color:#fff;
	font-size:1.2rem;
}