#lottery.edit{
	z-index:500;
}
#lottery header{
	text-align:center;
}
#lottery .tabSelect{
	background-color:#fff;
	color:#333;
	padding:3px 10px;
	border-radius:5px;
	text-align:center;
	display:inline-block;
	margin-top:11px;
}
#lottery .tabSelect i{
	display:inline-block;
	background:url("../img/arrow.png") no-repeat 0 0 ;
	width:16px;
	background-size:13px auto;
	height:14px;
	margin-left:5px;
	vertical-align:top;
	position:relative;
	top:7px;
}

#lottery .wrapper.tabDiv{
	z-index:1500;
	background-color:#fff;
	transform:translate3d(0,-100%,0);
	top:50px;
	bottom:0;
	transition:transform 400ms;
	background-color:#eeeeee;
}
#lottery .wrapper.tabDiv.tabShow{
	transform:translate3d(0,0,0);
}

#lottery .tabDiv .tab{
	width:100%;
	padding:0px 20px;
}
#lottery .tabDiv .tab:last-child{
	margin-bottom:20px;
}
#lottery .tabDiv .tabName{
	height:1.2rem;
	border-bottom:1px solid #bcbcbc;
	text-align:center;
	margin-bottom:17px;
}
#lottery .tabDiv .tabName span{
	display:inline-block;
	background-color:#eee;
	padding:0 14px;
	margin-top:0.3rem;
	font-size:1.2rem;
}
#lottery .tabDiv .subTab{
	width:100%;
	padding:0 0.5%;
}
#lottery .tabDiv .subTab span{
	display:inline-block;
	background-color:#fff;
	width:27%;
	text-align:center;
	padding:5px;
	font-size:0.8rem;
	color:#636363;
	border:1px solid #bcbcbc;
	border-radius:4px;
	margin:5px 3%;
	vertical-align:top;
}
#lottery .tabDiv .subTab span.tabOn{
	color:#7a57de;
	border:2px solid #7a57de;
}
#lottery .lt-info {
	background-color:#fff;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:0.8rem;
	border-bottom:1px solid #dadada;
	width:100%;
	position:absolute;
	top:50px;
	width:100%;
	z-index:100;
}
#lottery .lt-info span{
	margin-right:5px;
}
#lottery .lt-info em{
	font-style:normal;
	margin:0 5px;
}
#lottery .lt-info .time{
	font-weight:bold;
	color:#ff3232;
	font-size:1rem;
}
#lottery .wrapper{
	top:80px;
	bottom:95px;
}
#lottery .number{
	background-color:#f6f6f4;
}
#lottery .number .scroller{
	padding:0 10px;background-color:#f6f6f4;
}
#lottery .number dl{
	width:100%;
	border-bottom:1px solid #dadada;
	display:-webkit-box;
	padding:8px 0;
}
#lottery .number dt{
	height:30px;
	line-height:30px;
	/*background-color:#dadada;*/
	color:#858585;
	font-size:0.8rem;
	border-radius:4px;
	position:relative;
	text-align:center;
	top:8px;
	min-width:50px;
}
/**
.number dt:after{
	border: 15px solid transparent;
  	border-left: 13px solid #dadada;
  	position: absolute;
  	top: 0;
  	right: -27px;
  	content: '';
}*/
#lottery .number dd{
	-webkit-box-flex: 1;
	padding-left:5px;
}
#lottery .number dd i{
	display:inline-block;
	width:40px;
	height:40px;
	border:1px solid #bcbcbc;
	border-radius:50%;
	font-style:normal;
	line-height:40px;
	text-align:center;
	margin:4px;
	background-color:#fff;
	float:left;
}
#lottery .number dd i.on{
	font-weight:bold;
	background: linear-gradient(to bottom, #ff3232, #cf2929);
	color:#fff;
	border:1px solid transparent;
}
#lottery .number dd i.ball{
	-webkit-animation:ball 0.15s ease-out 0s forwards;
	animation:ball 0.15s ease-out 0s forwards;
}
@keyframes ball{
	0% { -webkit-transform:scale(.4); transform:scale(.4); opacity:0.4; }
	100% { -webkit-transform:scale(1); transform:scale(1); opacity:1; }
}
@-webkit-keyframes ball{
	0% { -webkit-transform:scale(.4); transform:scale(.4); opacity:0.4; }
	100% { -webkit-transform:scale(1); transform:scale(1); opacity:1; }
}
#lottery .count{
	height:95px;
	width:100%;
	display:block;
	background-color:#432d7a;
	z-index:1000;
}
#lottery .count .top{
	display:-webkit-box;
	width:100%;
	height:45px;
	line-height:45px;
	background-color:#7a57de;
}
#lottery .count .top>div,#lottery .count .bottom>div{
	-webkit-box-flex:1;
	text-align:center;
	height:100%;
}
#lottery .count .mode,#lottery .count .times{
	width:30%;
}
#lottery .count .odds{
	width:40%;
}

#lottery .count input,#lottery .count select{
	width:55%;
	height:25px;
	line-height:0.8rem;
	font-size:0.8rem;
	border-radius:4px;
	color:#ff3232;
	text-align:center;
}
#lottery .count input{
	border:none;
	font-size:0.9rem;
}
#lottery .count select{
	background-color:#fff;
	text-align:center;
	padding:0 10px;
}
#lottery .count .odds select{
	width:70%;
}
#lottery .count .bottom{
	display:-webkit-box;
	width:100%;
	height:50px;
}
#lottery .count .bottom em{
	margin:0 3px;
}
#lottery .count .clear{
	width:22%;
	text-align:right;
}
#lottery .count .total{
	width:43%
}
#lottery .count .confirm{
	width:35%
}
#lottery .count .clear button{
	padding:5px 15px;
	background-color:#5a3ca2;
	color:#fff;
	border:none;
	border-radius:5px;
	margin-top:12.5px;
}
#lottery .count .total{
	padding-top:0.8rem;
	font-weight:bold;
	font-size:0.8rem;
	line-height:0.8rem;
}
#lottery .count .totalMoney{
	color:#ffc800;
	font-size:0.8rem;
	margin-bottom:4px;
}
#lottery .count .totalTimes{
	margin-left:5px;
}
#lottery .count .bottom em.totalCount{
	margin-left:0;
}
#lottery .count .confirm button{
	height:100%;
	width:100%;
	background-color:#fea300;
	color:#fff;
	font-size:1.3rem;
	font-weight:bold;
	border:none;
}


#lottery .lastfive{
	position:absolute;
	top:0;
	left:0;
}