header .logo{
	width:150px;
	height:50px;
	margin:0 auto;
	background:url("../img/logo.png") no-repeat center;	
	background-size: 100% auto;
}
.banner{
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	font-size:0;
	position:realtive;
}
.banner .b{
	width: 100%;
	opacity:0;
}
.banner-srcoll {
	position: absolute;
	left: 0;
	top: 0;
	width:400%;
	height: auto;
	display:-webkit-box;
	z-index:10;
}

.slide {
	-webkit-box-flex:1;
	height: auto;
	float: left;
	font-size:0;
}

.banner img{
	width:100%;
	position:relative;
	z-index:200;
}

.notice{
	padding:0px 15px;
	height:28px;
	line-height:28px;
	border-bottom:1px solid #eee;
}
.notice i{
	display:inline-block;
	width:34px;
	height:14px;
	background:url("../img/noticeIcon.jpg") no-repeat left center;
	background-size:contain;
	vertical-align:top;
	margin-top:7px;
}
.notice span{
	font-size:0.8rem;
	color:#424242;
}
.lt-list{
	width:100%;
	padding:0 10px;
}
.lt-list>div{
	width:50%;
	padding:10px 0;
	float:left;
	text-align:center;
	font-size:0;
	border-bottom:1px solid #eee;
}

.lt-list img{
	width:32%;
	vertical-align: middle;
}
.lt-list span{
	display:inline-block;
	margin-left:3%;
	vertical-align: middle;
	min-width:84px;
}

.lt-list label{
	display:block;
	width:100%;
}
.lt-list .t{
	color:#c62424;
	font-size:1rem;
	font-weight:bold;
	line-height:1rem;
}
.lt-list .tip{
	color:#a6a6a6;
	font-size:0.6rem;
}
